/* Colors */
:root {
  --background: #030e4f;
  --secondary-background: #e1e1e1;
  --text: #ffffff;
  --purple: #7b2cbf;
  --teal: #2ec4b6;
}

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 120px auto 0 auto;
  max-width: 500px;
}

.stats-container {
  padding: 30px;
  border-radius: 20px;
  border: 2px solid var(--purple);
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.details {
  width: 100%;
}

.stats-numbers {
  width: 100px;
  height: 100px;
  background: var(--purple);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
}

#progressBar {
  width: 100%;
  height: 10px;
  background: var(--secondary-background);
  border-radius: 5px;
  margin-top: 20px;
}

#progress {
  width: 0%;
  height: 10px;
  background: var(--teal);
  border-radius: 5px;
  transition: all 0.3s ease;
}

form {
  margin-top: 60px;
  width: 100%;
  display: flex;
  gap: 10px;
}

input {
  padding: 16px;
  background-color: var(--secondary-background);
  border: 1px solid var(--purple);
  border-radius: 10px;
  flex: 1;
  outline: none;
  color: #333; /* Change from var(--text) to a darker color */
}

button {
  padding: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--purple);
  color: var(--text);
  font-size: 30px;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  width: 100%;
  list-style: none;
}

.task-item {
  display: flex;
  background-color: var(--secondary-background);
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.task {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task p {
  color: #333; /* Add this line to make task text dark */
}


.task input {
  width: 20px;
  height: 20px;
}

.icons {
  margin: 0 10px;
}

.icons img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: 0 5px;
}

.completed p {
  text-decoration: line-through;
  color: var(--teal);
}